<p id="notice"><%= notice %></p>

<h1>Docters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Contect number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @docters.each do |docter| %>
      <tr>
        <td><%= docter.name %></td>
        <td><%= docter.email %></td>
        <td><%= docter.contect_number %></td>
        <td><%= link_to 'Show', docter %></td>
        <td><%= link_to 'Edit', edit_docter_path(docter) %></td>
        <td><%= link_to 'Destroy', docter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Docter', new_docter_path %>
